<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="lfneves">
	
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/bootstrap.min.css" media="screen">

    <!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/custom.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/simple-sidebar.css" media="screen">
	

	<script src="{{ site.baseurl }}/javascript/jquery.js"></script>
	<script src="{{ site.baseurl }}/javascript/bootstrap.min.js"></script>
	
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
	<div id="content">
	<!--
		<img src="{{ site.baseurl }}/images/universo.jpg" class="ribbon"/>
		<div>some text...</div>
	-->
	</div>
</div>
  </head>

  <body>
		<div class="container inner">
			<h1> {{ site.name }} </h1>
			<h2>Portal de informações.</h2>
		</div>
	  
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">HOME</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#">Inicio do Jogo</a>
						</li>
						<li>
							<a href="#">Modelos de Naves</a>
						</li>
						<li>
							<a href="#">Modelos para Base</a>
						</li>
						<li>
							<a href="#">Detalhes das Armas</a>
						</li>
						<li>
							<a href="#">Regras</a>
						</li>
						<li>
							<a href="#">Links</a>
						</li>
						<li>
							<a href="#">Videos</a>
						</li>
						<li>
							<a href="#">FAQ</a>
						</li>
						<li>
							<a href="#">Sobre BRKS</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>

		<div id="content-wrapper">
			<div class="inner clearfix">
				<section id="main-content">
				  
				  {{ content }}

				</section>

				<aside id="sidebar">
					
				</aside>
			</div>
		</div>

  </body>
</html>